<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
</head>
<body>


   #{extends '/admincontroller/main.html'/}

   #{set title: messages.get('securesocial.changeTitle') /}

   <div class="span12 columns">
       <div class="page-header">
           <h1>&{'securesocial.changeTitle'}</h1>
       </div>

   #{if flash.error}
       <div class="alert-message block-message error">
           <div class="alert-actions">
           ${flash.error}
           </div>
       </div>
   #{/if}

       <div class="clearfix">


       #{form @changePassword(), autocomplete:'off'}
           <fieldset>
               #{authenticityToken /}
               <input type="hidden" id="username" value='${session.get("user")}' />
               <div class="clearfix #{ifError 'currentPassword'} error #{/ifError}">
                   <label for="currentPassword">&{'securesocial.currentPassword'}</label>

                   <div class="input">
                       <input id="currentPassword" class="large" name="currentPassword" type="password"/>
                       #{ifError 'currentPassword'}
                           <span class="help-inline">&{'securesocial.required'}</span>
                       #{/ifError}
                   </div>
               </div>

               #{securesocial_password_entry /}

               <div class="actions">
                   <input type="submit" value="Submit" class="btn primary">
                   <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
               </div>
           </fieldset>
       #{/form}
       </div>
   </div>



</body>
</html>